 ---
import Arrow from "@lucide/astro/icons/corner-right-up";

type Item = {
    name: string;
    description: string;
    link?: string;
};

interface Props {
    id?: string;
    title: string;
    projects: Item[];
}

const { id, title, projects } = Astro.props as Props;
---

<section id={id ?? title.toLowerCase()} class="scroll-mt-50">
    <h2 class="opacity-50 uppercase mb-6">{title}</h2>

    <ul class="space-y-3">
        {
            projects.map((project) => (
                <li class="group">
                    {project.link ? (
                        <a
                            href={project.link}
                            target="_blank"
                            rel="noopener noreferrer"
                            name={project.name}
                            class="mb-5 font-semibold transition-all duration-200 group-hover:text-green-500 "
                        >
                            {project.name}
                        </a>
                    ) : (
                        <span
                            class="mb-5 font-semibold transition-all duration-200 group-hover:text-green-500 "
                        >
                            {project.name}
                        </span>
                    )}
                    <Arrow class="h-3 w-3 inline transition-all text-green-500  duration-200 invisible opacity-0 group-hover:visible group-hover:opacity-100" />
                    <p class="opacity-50 text-[0.88rem]">
                        {project.description}
                    </p>
                </li>
            ))
        }
    </ul>
</section>
